<section>
    <div class="container">
        <div class="text-center mt-5"><a href="/category/categories" class="btn btn-primary">Back a all Categories</a></div>
        <br><br>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/category/categories/update/{{dataEdit._id}}" method="POST">
                            <div class="form-group my-3">
                                <label for="">Title</label>
                                <input type="text" name="title" value="{{dataEdit.title}}" class="form-control" id="">
                            </div>
                             <div class="form-group my-3">
                                <label for="">Slug</label>
                                <input type="text" name="slug" value="{{dataEdit.slug}}" class="form-control" id="">
                            </div>
                             <div class="form-group my-3">
                                <input type="submit" class="btn btn-success" value="Register" name="" id="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>