<section>
    <div class="container">
        <div class="text-center mt-5"><a href="/admin/page/pages" class="btn btn-primary">Back a all Pages</a></div>
        <br><br>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/admin/page/pages/addForm" method="POST">
                            <div class="form-group my-3">
                                <label for="">Title</label>
                                <input type="text" name="title" class="form-control" id="">
                            </div>
                             <div class="form-group my-3">
                                <label for="">Slug</label>
                                <input type="text" name="slug" class="form-control" id="">
                            </div>
                             <div class="form-group my-3">
                                <label for="">Content</label>
                                <textarea name="content" id="ta" class="form-control"></textarea>
                            </div>
                             <div class="form-group my-3">
                                <input type="submit" class="btn btn-success" value="Register" name="" id="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>