<section class="fondo fondo-home relative">
    <div class="description-home">
        <h1>Verduras y Mas</h1>
        <p>Ven y aprovecha los descuentos en variedades</p>
    </div>
</section>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h2 class="h2-home text-center">Conoce Las Distintas opciones en Verduras y frutas</h2>
                    <p class="lead p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ducimus facilis.
                        Facere repellendus tempora, exercitationem ipsum explicabo corporis? Optio consequuntur
                        accusantium ipsum tempora. Deleniti blanditiis eos, reiciendis quos magni ullam!</p>
                    <a href="" class="btn-client">Ver productos</a>
                </div>
            </div>
            <div class="col-md-6">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/home-fresas.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/home-orange.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/home-uvas.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 Beneficios py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h4>Beneficios</h4>
                <ul>
                    <li>Aportan vitaminas</li>
                    <li>Nutrientes esenciales</li>
                    <li>Favorece la digestion</li>
                </ul>
            </div>
            <div class="col-md-4">
                 <h4>Prevenciones</h4>
                 <p>Nos ayudan a prevenir distintas enfermedades como problemas
                     cardiovasculares , algunos tipos de canceres y enfermeades neurodegenerativas
                     y la lucha contra el sobrepeso y la obesidad
                 </p>
            </div>
            <div class="col-md-4 redes-sociales">
                <h4 class="mb-5">Nuestras Redes Sociales</h4>
                <a href=""><i class='bx bxl-facebook-circle'></i></a>
                <a href=""><i class='bx bxl-youtube' ></i></a>
                <a href=""><i class='bx bxl-instagram-alt' ></i></a>
            </div>
        </div>
    </div>
</section>