<section class="relative">
    <div class="fondo-login fondo">
        <div class="position-middle">
            <div class="container">
                <div class="mx-auto">
                    <div class="flex color-white">
                        <div class="tamanio"><img src="/img/login.jpg" alt=""></div>
                        <div class="relleno">
                            <form action="/admin/admin/add" method="POST">
                                <div>
                                    <input type="email" name="email" class="input-admin"
                                        placeholder="Example@Email.com">
                                </div>
                                <div>
                                    <input type="password" name="password" class="input-admin" placeholder="Password">
                                </div>
                                <div>
                                    <input type="submit" value="Ingresar" class="input-submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>